@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* shared style */
  .hide{
    display: none;
  }
  .dark-1{
    color: #131313;
  }
  .dark-2{
    color: #424242;
  }
  .dark-3{
    color: #727272;
  }
  .text-center{
    text-align: center;
  }
  .btn-primary{
    padding: 14px 18px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
  }
  .section-title{
    font-weight: bold;
    font-size: 35px;
    color: #131313;
    margin: 12px;
  }
  .section-description{
    font-size: 14px;
    font-weight: 400;
    color: #727272;
  }
  /* ==========body part ============== */
  .body{
    max-width: 1267px;
    margin: 0 auto;
  }
  /* header part  ============*/
  .header-bg{
    background-color: rgba(255, 144, 14, 0.1);
  }
  /* navbar style */
  .navbar, .banner, .main{
    max-width: 950px;
    margin: 0 auto;
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo{
    font-weight: bold;
    font-size: 34px;
    color: #131313;
  }
  .navbar ul{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .navbar ul li{
    list-style: none;
  }
  .navbar ul li a{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    text-decoration: none;
  }
  /* banner style  */
  .banner{
    padding-bottom: 60px;
  }
  .banner-info{
    max-width: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 50px;
  }
  .banner-heading{
    font-weight: bold;
    font-size: 40px;
  }
  .banner-description{
    font-size: 16px;
    font-weight: 400;
    margin: 6px;
    color: #727272;
  }
  .btn{
    margin-top: 30px;
  }
  .banner-img{
    width: 100%;
  }
  .banner-img img{
    width: 100%;
  }
  /* ========main section======= */
  /* gallery part */
  .gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 55px;
    padding: 0 24px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .gallery-container{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);

  }
  .gallery-container img{
    width: 100%;
  }
  .gallery-info{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
  /* ====years-section========== */
  .years{
    display: grid;
    gap: 110px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .years .collumn{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 18px 22px;
  }
  .year-info>.banner-heading{
    margin-bottom: 20px;
  }
  .subtitle{
    margin: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
  }
  .year-img{
    width: 100%;
  }
  .year-img img{
    width: 100%;
  }
  .collumn-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  #badge{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    padding: 30px 36px;
    border: none;
    border-radius: 8px;
    position: relative;
    margin-top: -90px;
    margin-left: -80px;
  }
  #badge-number{
    font-weight: bold;
    font-size: 42px;
  }
  #experience{
    font-weight: 500;
    font-size: 20px;
  }
  /* facts section========= */
  .facts{
    margin-top: 90px
  }
  /* card container========== */
  .card-container{
    margin-top: 80px;
    display: flex;
    gap: 90px;
  }
  .card{
    width: 200px;
    padding: 26px 32px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .card img{
    width: 40px;
  }
  .card .number{
    margin: 4px;
  }
  .card p{
    font-size: 12px;
    font-weight: 400;
    color: #727272;
    margin: 2px;
  }
  /* =========our sponchors section============ */
  .sponchor{
    margin-top: 160px;
  }
  .sponchor-info{
    
    max-width: 540px;
    margin: auto;
    margin-bottom: 50px;
  }
  .sponchor-icons{
    display: flex;
    gap: 100px;
    width: 100%;
  }
  .sponchor-icons img{
    filter: grayscale(100%);
    width: 100%;
  }
  .footer{
    margin-top: 130px;
    padding: 30px;
  }
  /* responsive desine for small device */
  @media screen and (max-width: 576px) {
    .navbar, .gallery-container, .sponchor-icons, .card-container{
        flex-direction: column;
    }
    .gallery, .years{
        grid-template-columns: 1fr;
    }
    #badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .card-container, .sponchor-icons{
        gap: 30px;
    }
    .card-container .card{
        margin: 0 auto;
    }
    .sponchor-icons div{
        margin: 0 auto;
    }
    .sponchor-icons img{
        filter: grayscale(100%);
        width: 100%;
      }
  }
  /* responsive design for notepad */
  @media screen and (min-width: 576px) and (max-width: 992px) {
    .gallery, .years{
        grid-template-columns: 1fr;
    }
    #badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card-container .card {
      margin: 0 auto;
    }
    .sponchor-icons{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }